
/* .open-sans-normal font  */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:  100;
  max-width: 1440px;
 
}
/* open-sans-main-secton */
.open-sans-main {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:  100;
    max-width: 1440px;
   
  }
/* universal selector */
*{
    margin:0;
    padding: 0;
}
/* background for header  */
.open-sans-normal{
    background-image: url('/images/developer.png') ;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain ;
    background-color: #FFF8F3;
}
/* style nav section  */
/* nav title */
.nav-title{
    color: rgba(24, 24, 24, 1);
    font-weight: 800;
    margin-left: 110px;
}
.text-primary{
    color: #FD6E0A;
}
/* nav-bar  */
.navication-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0px;
}
nav > ul {
    display: flex;
    align-items: center;
    margin-right: 110px;
}
nav >ul>li{
    margin-right: 50px;
    list-style: none;
}
nav > ul >li>a{
    text-decoration: none;
    color : black;
    
}

/* share style button  */
.btn-primary{
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    color: #ffff;
    border: none;
    border-radius: 5px;
}
/* style banner section */
.banner-section{
    display: flex;
    justify-content: center;   
    width: 90%;
    margin-left: auto;
}

.greeting{
    color: rgba(71, 71, 71, 1);
    font-weight: 600;
    text-align: justify;
    margin-bottom: 10px;
}
.banner-sub-title{
    color: rgba(24, 24, 24, 1);
    font-weight: bolder;
    font-size: 90;
    margin-bottom: 10px;
}
.banner-contant{
    color:rgba(117, 117, 117, 1);
    margin-top: 10px;
}
.section-text-container{
    margin-left: 110px;  
}
.banner-image{
    display: flex;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 395px ;
    width: 453px;
    justify-content: center;
    padding-top: 20px;  
    padding-left: 35px;
}
.banner-image img{
    height: 100%;
    width: 99%;
}
/* banner section button  */
.banner-btn-section{
    margin-top: 30px;
    display: flex;
    justify-items: center;
    gap: 30px;
}
.content-btn{
    height: 64px;
    width: 160px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    background-color: rgba(255, 248, 243, 1);
    color :#FD6E0A;
}
/* style about me section */
.about-me-secton{
    margin-top: 16px;
    max-width: 1440px;
    height: 600px;
}
.about-me-secton-container{
    
    height: 550px;
    width: 70%;
    margin: 16px auto;
    background-color: rgba(255, 248, 243, 1);
    border-radius: 10px;
    display: flex;
    justify-items: center;

}
.about-me-content{
    height: 288px;
    margin: 131px 156px ;
    background-color: #FFFFFF;
    border: 2px solid;
}
.about-me-title{
    text-align: center;
    margin-top: 10px;
    color:rgba(24, 24, 24, 1); 
    font-weight: bolder;
    font-size: 40;
    margin-bottom: 20px;
}
.about-me-text{
    /* margin: 30px 0px; */
    text-align: center;
    padding: 30px 0px;
    color: rgba(117, 117, 117, 1);
}
.about-me-footer{
   display: flex;
   gap: 30px;
   padding:3px;
   margin-top: 20px;
}
.item-title{
    text-align: center;
    color: rgba(117, 117, 117, 1);
    font-size: small;
}
.item-description{
    text-align: center;
    color: rgba(71, 71, 71, 1);
    font-weight: 600;
    font-size: small;

}
/* style what-i-do-section */
.what-i-do-section{
    margin-top: 16px;
    max-width: 1440px;
    height: 600px;
}
.what-i-do-section-container{
    width: 75%;
    margin: 16px auto;   
}
.what-i-do-first-part-title{
    color: rgba(24, 24, 24, 1);
    text-align: center ;
}
.what-i-do-first-part-text{
    width: 60%;
    text-align: center;
    color: rgba(117, 117, 117, 1);
    margin: 16px auto;
}
.what-i-do-second-container{
    display: flex;
    gap: 10px; 
    width: 85%;
    margin: 16px auto;
}
/* style-java-script // React  // Node.js // MongoDB*/

.second-java-script-container , .second-React-container ,
.second-node-js-container , .second-mongo-db-container{
    height: 330px;
    width: 240px;
    margin: 0px auto;
    padding: 0px auto;
    box-shadow: 0px 6px 50px #e7e7e7e2;
    border-radius: 5px;
}
.java-script-image-container , .React-image-container , 
.Node-js-image-container ,.mongo-db-image-container{
    display: flex;
}
.java-script-image-container img , .React-image-container img  ,
.Node-js-image-container img , .mongo-db-image-container img {
    height: 44px;
    width: 44px;
    margin-top: 30px ;
    margin-left: 30px;
}

.java-script-text-container , .React-text-container ,
.Node-js-text-container , .mongo-db-text-container{
    display: flex;
    flex-direction: column;
    margin: 50px 33px 30px 30px;
  
}
.java-script-title , .React-title ,
.Node-js-title , .mongo-db-title{
    font-size: small;
    font-weight: bolder;
    color:rgba(24, 24, 24, 1);
}

.java-script-text , .React-text ,
.Node-js-text , .mongo-db-text {
    color : rgba(117, 117, 117, 1);
    height: 200px;
    width: 196px;
    margin-top: 20px;
}
/* style A summary of My Resume section */
.resume-container{
    width: 70%;
    height: 700px;
    margin: 0 auto;
}
.resume-titile{
    text-align: center;
    margin-top: 16px;
    color :rgba(24, 24, 24, 1);
    
}
.resume-combaine-box{
    margin-top: 40px;
    display: flex;
    gap: 50px;
}
.resume-education-title , .resume-experience-title{
    color :rgba(71, 71, 71, 1);
    text-align: center ;
    margin-bottom: 30px;

}
.msc-first ,.sr-first,.jr-second,.html-thired{
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px #f9f9f9;
}
.msc-first-title , .sr-title ,
.jr-title , .html-title{
    color:rgba(71, 71, 71, 1);
    font-weight: 600;
    font-size: medium;
    margin-bottom: 10px;
    text-align: justify;
}
.msc-first-sub-titile , .sr-sub-titile , 
.jr-sub-titile , .html-sub-titile{
    color:rgba(117, 117, 117, 1);
    font-size: small;
    margin-bottom: 10px;
    text-align: justify;
}
.msc-first-text , .sr-text ,
.jr-text , .html-text{
    color:rgba(117, 117, 117, 1);
    font-size: smaller;
    text-align: center;
    margin-bottom: 14px;
    text-align: left;
}
.resume-download-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
/* style footer section  */
.footer-section-container{
    height: 780px;
    background-color: rgba(255, 248, 243, 1);
  
}
.footer-container{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 75%;
    margin: 10px auto;
}
.connect-title{
    color: rgba(24, 24, 24, 1);
    margin-bottom: 30px;
}
.message-title{
    color: rgba(24, 24, 24, 1);
    margin-bottom: 30px;
    padding-top: 80px;
}
.connect-text{
    color: rgba(71, 71, 71, 1);
    height: 65px;
    width: 400px;
}
.conncet-icon{
    border: 2px solid ;
    width: 24px;
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-top: 30PX;
    gap: 15px;
}
.message-container{
  margin-top: 150px; 
}
.message-inputs{
    display: flex;
    flex-direction: column;
    gap : 30px;
}
#name , #email{
    width: 450px;
    height: 55px;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
    box-shadow: 7px 7px 10px #ffff;
}
#text-area{
    width: 450px;
    height: 150px;
    border-radius: 5px;
    padding-left: 5px;
    border: none;
    box-shadow: 7px 7px 10px #ffff;
}
.footer-btn{
    display: flex;
    margin-top: 18px;
}